@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgb(8, 5, 173);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  overflow: hidden;
  margin: 0;
}

nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(214, 245, 245);
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  z-index: 1;
}

nav.nav-active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.nav-active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.3s linear;
}

nav ul li a:active {
  transform: scale(0.85);
}

nav ul li a:hover {
  opacity: 0.6;
}

nav.nav-active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  display: flex;
  /* flex-wrap: nowrap; */
  position: relative;
  color: black;
  text-decoration: none;
  margin: 0px 10px;
}

nav ul a i {
  margin: 0px 5px;
}

.icon-nav {
  background-color: rgb(214, 245, 245);
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon-nav:focus {
  outline: 0;
}

.icon-nav .line {
  background-color: #3c80f5;
  height: 3px;
  width: 20px;
  position: absolute;
  top: 8px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon-nav .line2 {
  top: auto;
  bottom: 8px;
}

nav.nav-active .icon-nav .line1 {
  transform: rotate(-765deg) translateY(7.7px);
}

nav.nav-active .icon-nav .line2 {
  transform: rotate(765deg) translateY(-7.7px);
}



.inside-content {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: white;
  border: white solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('https://images.unsplash.com/photo-1593118247619-e2d6f056869e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('https://images.unsplash.com/photo-1636908067903-abaedc57ab2b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.left::before,
.split.right::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 808px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }

  .btn {
    padding: 1rem;
    width: 12rem;
  }
}
